
body { 
    background: url(/images/m.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #ap {
    bottom: 75%;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 5s;
  }
  @-webkit-keyframes run {
    100% {
      right: 0;
    }
    100% {
      right: 100%;
    }
    0% {
      right: 0;    
    }
  }