

#first {
    color: rgb(13, 112, 151);
    background-color: coral;
    padding: 1px;
    position: absolute;
    width: 20%;
    top: 50%;
    left: 20%;
    height: 40%;
    transform: translate(-50%, -50%);
    border:2px solid;
    border-color: black;
}

#second {
    color: rgb(13, 112, 151);
    background-color: coral;
    padding: 1px;
    position: absolute;
    width: 20%;
    top: 50%;
    left: 48%;
    height: 40%;
    transform: translate(-50%, -50%);
    border:2px solid;
    border-color: black;
}

#third {
    color: rgb(13, 112, 151);
    background-color: coral;
    padding: 1px;
    position: absolute;
    width: 20%;
    top: 50%;
    left: 75%;
    height: 40%;
    transform: translate(-50%, -50%);
    border:2px solid;
    border-color: black;
    text-align: center;
    list-style-position: inside;
}

.innerborder {
    color: rgb(1, 13, 18);
    background-color: rgb(89, 80, 255);
    padding: 1px;
    position: absolute;
    width: 95%;
    top: 17%;
    left: 50%;
    height: 30%;
    transform: translate(-50%, -50%);
    border:6px solid;
    border-color: rgb(224, 13, 13);
    text-align: center;
    list-style-position: inside;
}